.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  
  mat-card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #006270;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media screen and (max-width: 500px){
        max-width: 90%;     
    }
  }

  mat-card-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  button {
    width: 100%;
  }

  .login-button {
    background: #00E0c7 !important; 
    color: #000000 !important;
  }

  .login-button[disabled] {
    background: #b0e8df !important; 
    color: #666666 !important; 
    opacity: 0.6;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }
  
  mat-card-actions button {
    color: #009394;
    text-transform: uppercase;
  }

  @media screen and (max-width: 500px){
    mat-card-title {
        font-size: 20px;
    }
    mat-form-field {
        margin-bottom: 10px;
    }     
  }

  .error-snackbar {
    background-color: #f44336 !important;
  }

  .success-snackbar {
    background-color: #4caf50 !important;
  }