<div class="task-list">
    <div class="loading" *ngIf="isLoading">
      <p>Loading tasks...</p>
    </div>

    <div class="empty-state" *ngIf="!isLoading && listOfTasks?.length === 0">
      <p>No tasks available.</p>
    </div>

    <mat-card class="task-card" *ngFor="let task of listOfTasks">
      <div class="task-details">
        <h2 class="task-name">{{ task.title }}</h2>
        <p class="task-description">{{ task.description }}</p>

        <mat-divider></mat-divider>
        <div class="task-info">
          <div class="info-row">
            <span class="info-label">Due Date:</span>
            <span class="info-value">
                {{ task.dueDate | date: 'MMM d, y' }}
            </span>
          </div>
          <div class="info-row">
            <span class="info-label">Employee:</span>
            <span class="info-value">
                {{ task.employeeName }}
            </span>
          </div>
          <div class="info-row">
            <span class="info-label">Priority:</span>
            <span class="info-value" [ngClass]="getPriorityClass(task.priority)">
              {{ task.priority }}
            </span>
          </div>
          <div class="info-row">
            <span class="info-label">Status:</span>
            <span class="info-value" [ngClass]="getStatusClass(task.taskStatus)">
              {{ task.taskStatus }}
            </span>
          </div>
        </div>
      </div>
    </mat-card>
</div>